.rightContent {
  margin-left: 10px;
  width: 50%;
  select {
    margin-top: 120px;
    width: 320px;
    height: 40px;
    option {
      padding: 320px;
      height: 40px;
      color: #588bac;
    }
  }
}
